body,html{
  height: 100%;
}
div#second-footer-container {
  background-image: url("../images/index-bg.jpg");
  width: 100% !important;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

p#socmed-container {
  text-align: center;
}

p#socmed-container a {
  padding: 0 5px !important;
}
